  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <img src="{{ site.url }}/assets/MarcDuiker128px.png" alt="Marc Duiker profile">
      </div>
      <div class="one-half column">
        <p>
			   <strong>Marc Duiker</strong>
		    </p>
        <p>
          Lead Azure Consultant @ <a href="https://xpirit.com/" target="_blank">Xpirit</a>
        </p>
        <p>
          <a href="https://twitter.com/@marcduiker" target="_blank">Twitter</a> || <a href="https://nl.linkedin.com/in/mduiker" target="_blank">LinkedIn</a> || <a href="https://github.com/marcduiker">Github</a>
        </p>
      </div>
    </div>
  </div>