  <div class="container section">
    <div class="row">
      <div class="one-third column">
        <p>
			   Marc Duiker
		    </p>
      </div>
      <div class="one-third column">
        <img src="{{ site.url }}/assets/MarcDuiker100px.jpg" alt="Marc Duiker profile">
      </div>
      <div class="one-third column">
        <p>
			   <a href="https://twitter.com/@marcduiker" target="_blank">Twitter</a> || <a href="https://nl.linkedin.com/in/mduiker" target="_blank">LinkedIn</a>
		    </p>
      </div>
    </div>
  </div>
