<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MQD7647');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="utf-8">
  <meta name="description" content="{{ page.title }}" />
  <meta name="author" content="Marc Duiker">
  <meta name="google-site-verification" content="8x6RFwJ53Ryr_sAZQgcInmeiKuuyRDvZcl9SSo3a0BI" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='Content-Security-Policy' content="default-src 'self' ; script-src 'self' 'unsafe-inline' *.disqus.com *.googletagmanager.com *.google-analytics.com; style-src 'self' 'unsafe-inline' *.disquscdn.com; img-src 'self' *; media-src 'self' ; frame-src disqus.com;">
  <title>{{ page.title }} | Marc Duiker</title>
  <link rel="stylesheet" rel="preload" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" rel="preload" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css"></noscript>
  <link rel="stylesheet" rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" type="text/css" media="none" onload="if(media!='all')media='all'" />
  <noscript><link rel="stylesheet" rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" type="text/css"></noscript>
  <link rel="stylesheet" rel="preload" href="{{ site.url }}/css/skeleton.min.css" type="text/css" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" rel="preload" href="{{ site.url }}/css/skeleton.min.css" type="text/css"></noscript>
  <link rel="stylesheet" rel="preload" href="{{ site.url }}/css/blog.css" type="text/css" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" rel="preload" href="{{ site.url }}/css/blog.css" type="text/css"></noscript>
  <link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon.ico">
  
  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
  {% endif %}
</head>