  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQD7647" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 3%">
        <h1><a href="{{ site.url }}">Marc Duiker</a></h1>
		    <p><em>My experiences &amp; thoughts about Azure, Sitecore &amp; DevOps.</em></p>
		    <hr>
      </div>
    </div>
  </div>
