<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<div class="container">
				<div class="row">
					<div class="twelve columns">
						<header>
							<h1 itemprop="name headline">{{ page.title }}</h1>
							<time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}"><em>{{ page.date | date_to_long_string }}</em></time>
							- <em><span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
								<span itemprop="name">Marc Duiker</span>
							</span></em>
						</header>  
					</div>
				</div>
			</div>
					
			<div class="container" itemprop="articleBody">
				<div class="row">
					<div class="twelve columns" style="margin-top: 3%">
						{{content}} 
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="three columns">
						<p>
							<a class="button" href="{{ site.url }}">Back to index</a> 
						</p>
					</div>
					<div class="nine columns">
						<ul class="tags">
							{% for tag in page.tags %}
								<li>{{ tag }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</article>
		
		{% include footer.html %}
		
		{% include disqus.html %}
	</body>
</html>